@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');
body,html{
  /* background-color: #FCFCFC; */
  background-color: rgb(244, 244, 244);
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Rufina', serif;
}
ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: line-through;
  color: #DDD;
  /* font-weight:bold; */
}

#outer-box{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

}
#inner-box{
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 450px;
  padding: 10% 0;

}
#name{
  position: absolute;
  z-index: 1;
  height: auto;
  padding: 5px;
  color:white;
  font-size: 40px;
  width: 150px;
  padding-bottom: 3px;
  background-color: rgb(117, 189, 218);
}


#video-box{
  height: 380px;
  width: 380px;
  margin: 0;
  padding: 0% 0;
  overflow: hidden;
  border: 10px solid #F95;
 /* border-radius: 70%; */

}
#video-box a{
  position: absolute;
  height: 380px;
  width: 350px;
  z-index: 2;

}

video{
  width: 380px;
  vertical-align: middle;
  pointer-events: none;
}
video::-webkit-media-controls {

  display: none;
}
#footer{
  height: 30px;
  width: 90%;
  right: 0;
  padding: 0;
  margin-top: 10px;
  
}
#footer-buttons a{
  float: right;
  padding: 2px 7px;
  color: invert;
  font-size: 17px;
  color: rgb(65, 65, 65);
}
#footer-buttons img{
  /* -webkit-filter: invert(1); */
 /* filter: invert(1); */
  color-adjust:  rgb(65, 65, 65);
 }


#project-links{
    font-size: 11px;
    padding: 20px 0 0 0;
    /* margin: 0 auto;*/
    width: 90%; 
    text-align: justify;
    list-style: none;
    color: rgb(65, 65, 65);

}
#project-links a{
  color: rgb(65, 65, 65);
}

#project-links ul li::before{
  content: "/ ";
  color: rgb(65, 65, 65);
}

#project-links ul li{
  display: inline;
  margin: 0;
  padding: 0;

}
@media (min-width:455px){
  #gif{
    display: none;
  }
}

@media (max-width:455px){

  #inner-box{
    width: 250px;
  }

  #video-box a{
    position: absolute;
    height: 190px;
    width: 190px;
    z-index: 2;

  }
  video{
    display: none;
  }
  #gif img{
    width: 190px;
    pointer-events:auto;
  }
  #video-box{
    height: 190px;
    margin: 0;
    padding: 0% 0;
    overflow: hidden;
    border: 30px solid #F95;

  }
}
